h1 {
  color: blue;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}
#mainContainer{
  height: 100%;
  padding: 0;
}
#firstRow{
  height: 75%;
  width:100%;
}
#Network_toolkit{
  height: 50%;
  z-index: 99;
  position: absolute;
  top: 28%;
  left: 2%;
}
#mapContainer{
  position: relative;
}
#root{
  height:100%;
  width:100%;
}
#secondRow{
  height:25%;
  width:100%;
}